<!DOCTYPE html>
<html lang="en">

<head>
  <title>Success</title>
</head>

<body>
  <script>
    ;(async () => {
      const jwtToken = localStorage.getItem('jwtToken')
      if (jwtToken != null) {
        await fetch('/pay/success-hook', {
          headers: {
            Authorization: `Bearer ${jwtToken}`
          }
        })
        localStorage.setItem('__flag', 'true')
      } else {
        localStorage.setItem('__flag', 'false')
      }
      setTimeout(() => window.close(), 0)
    })()
  </script>
</body>

</html>
