<div class="payment-window">
  <p>Your current Poké Tokens {{ currentCoins }}</p>
  <div>Current Rate: $1 USD: 1 Poké Token</div>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Quantities</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="model.quantities" (keyup)="$event.key==='Enter'?checkout():0">
    <span matPrefix>Poké Tokens&nbsp;</span>
  </mat-form-field>
  <div style="display: flex;justify-content: space-between;">
    <div style="color: red;">Please use credit card: 4242424242424242</div>
    <div>Your total will be: ${{(model.quantities ?? 0) * model.amount / 100}}</div>
  </div>
  <div class="button-grp">
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
    <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
  </div>
</div>

<div *ngIf="isWait" class="spinner">
  <mat-spinner></mat-spinner>
</div>
