.mat-form-field {
  width: 100%;
}
.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-grp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
